{% extends 'base.html' %}

{% block content %}
    <header>
        <nav>
        </nav>
    </header>
    <main>
        <h1><div>
            <a href="">{{ details.title }}</a>

        </div></h1>
<div> <h1>Tasks</h1>
    <table class="todo-list-details">
        <thead>
            <tr>
                <th>Task</th>
                <th>Due Date</th>
            </tr>
        </thead>
        <tbody>
        {% for TodoItem in details.items.all %}
            <tr>
                <td>{{ TodoItem.task }}</td> #classname
                <td>{{ TodoItem.due_date }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
 </main>
 {% endblock content %}
</body>
</html>




{% comment %}
{% extends 'base.html' %}

{% block content %}
    <header><nav>

    <a href= {% url '######'%}>Main Page</a>
    <a href="{% url '#####' #####.id %}">Edit a Recipe</a>

    </nav></header>
        <main>
        <h1><div>
            <a href="">{{ recipe_object.title }}</a></div></h1>
        </div><p><img class ="tacos"
            src="https://mks.io/public-tacos"
            alt="Some beautiful tacos"
            width="200"
            height="200"> <p> 4.3 Stars</p>

    <div> <h1>Ingredients</h1>
<table class="ingredients-table">
    <thead>
        <tr>
            <th>Amount</th>
            <th>Food Item</th>
        </tr>
    </thead>
    <tbody>
        {% for ingredient in recipe_object.ingredients.all %}
        <tr>
            <td>{{ ingredient.amount }}</td>
            <td>{{ ingredient.food_item }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>


</div>
    <div>
        <h1>Steps</h1>
    </div>
    <ol>
        {% for step in recipe_object.steps.all %}
        <li>{{ step.instruction }}</li>
        {% endfor %}
    </ol>


</body></html>
    </main>

    {% endblock content %} {% endcomment %}
