{% extends 'base.html' %}

{% block content %}
<body>
    <header>
        <nav>
        </nav>
        <h1> My Lists </h1>
    </header>
    <main>
        <table class ="mylist-table">
        <thead>
            <a href="{% url 'todo_list_create' %}">Create a New List!</a>
            <tr>
                <th>Name</th>
                <th>Number of Items</th>
            </tr>
        </thead>
        <tbody>
            {% for todolist in todolist_object %}
            <tr>
                <td><a href="{% url 'todo_list_detail' todolist.id %}">{{ todolist.name }}</a></td>
                <td>{{ todolist.items.count }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    </main>
    <footer>
    </footer>
    {% endblock content %}
