{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href= {% static "css/todos.css" %}>
        <title>
            {% block title %}{% endblock %}
        </title>
    </head>
    <body>
        {% block content %}{% endblock content %}

    </body>
    <footer>
       <b>JUST DO IT</b>, Then have a snack :)
    </footer>
</html>
