body{
    margin: 0px 50px;
    padding: 20px;

}


main{
    padding: 16px;

}

.veg{
    color:darkgreen;

}


tr:nth-child(even) {
    background-color: gray;}


.taco-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    padding:20px;
    background-color: lightyellow;
    color: maroon;

}

a{
    text-decoration: none;
}

img{
    height: 200px;
}


nav{
    border: 1px solid black;
    padding: 16px;
    background-color: lightgreen;
}

footer{
    position: sticky;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 0px;
    border: 1px solid black;
    background-color: lightgreen;
    font-size:larger;
    text-align: center;

}
